.container{
width: 100vw;
height: 100vh;
display: grid;
grid-template-columns: 1fr 5fr;
}

.section1{
background-color: black;
height: 100%;
display: inline-block;
overflow-y: scroll;
}

.logo{
width: 135px;
height: auto;
}

.section2{
border: 1px solid black;
height: 100%;
display: inline-block;
}

.section2-1{
background-color: #141111;
width: 100%;
height: 6vh;
overflow-x: hidden;
}

.section2-2{
background-color: rgb(37, 36, 36);
width: 100%;
height: 94vh;
overflow-y: scroll;
padding: 20px;
}

.texts{
    color: white;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    transition: 200ms;
    text-decoration: none;
}

.texts:hover{
    color: rgb(162, 157, 157);
    transition: 200ms;
}

.icons{
    color: white;
    font-size: 25px;
}

.centerDivAlign{
    display: flex;
    align-items: center;
}

.home-profile{
    width: fit-content;
    padding: 5px;
    margin-left: 20px;
    font-size: 20px;
    border:5px solid rgb(68, 68, 68);
    background-color: rgb(110, 110, 110);
    border-radius: 15px;
    color:rgb(232, 232, 232);
    font-weight: 600;
}

.shown-playlists{
    color: rgb(185, 172, 172);
}
.shown-playlists:hover{
    color: rgb(250, 250, 250);
}

.shown-container{
    display: flex;
    /* border: 1px solid red; */
    margin-left: 20px;
    margin-right: 20px;
}

.image-container{
    width: 80vw;
    height: 40vh;
    /* border: 1px solid red; */
}

.image{
    width:100%;
    height: 100%;
}